<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
    <h1>Dernière ligne droite !</h1>
    <p>Merci {{ user.username }} de vous être inscrit.</p>
    <p>Veuillez confirmer votre email en cliquant sur le boutton ci-dessous.</p>
    <a href="#">Confirmer</button>
  </body>
</html>